<html>
<head>
	
</head>
<body>
    <h1>Product form</h1>
    <form method="POST">
    {% csrf_token %}
	{{ product_form.as_p }}
	<button type="submit">Save</button>
	</form>
	<h1>Product list </h1>
	<table border=1>
	<tr>
	<th>Name</th>
	<th>price</th>
	<th>description</th>
	<th>category</th>
	</tr>

	{% if product_list %}
	{% for i in product_list %}
	<tr>
	<td>{{ i.name }} </td>
	<td>{{ i.price }} </td>
	<td>{{ i.description }} </td>
	<td>{{ i.category }} </td>
	</tr>
	
	{% endfor %}
	
	{% else %}
	<tr colspan=4><td>No Products!</td></tr>
	{% endif %}
	<table>
</body>
</html>